@import "../../../styles/variables.scss";

.textImage {
  ul {
    padding: 0;
    list-style: none;
    font-size: 1.5625rem;
    margin-bottom: 3rem;
    li {
      margin-bottom: 0.25rem;
    }
  }
}

.whatsIncluded {
  padding-bottom: 14rem;
  background: linear-gradient(180deg, #ffccbc 60%, var(--color-light-grey) 60%);
}
