@import "../../../styles/_variables.scss";

.productImage {
  position: relative;
  .screenshot {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    // Screenshot treatment
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 2px 4px rgba(0, 0, 0, 0.06),
      0 4px 8px rgba(0, 0, 0, 0.06), 0 8px 16px rgba(0, 0, 0, 0.06),
      0 16px 32px rgba(0, 0, 0, 0.06), 0 32px 64px rgba(0, 0, 0, 0.06);
    border-radius: 0.65rem;
    @media (min-width: $sm) {
      border-radius: 1rem;
    }
    @media (min-width: $lg) {
      border-radius: 1.25rem;
    }
  }
}

.productPurchase {
  padding: 0.5rem 0;
  border-top: 0.75px solid var(--font-primary);
  border-bottom: 0.75px solid var(--font-primary);
  p {
    margin: 0;
  }
}

.productPriceLabel {
  p {
    font-size: 0.95rem;
    display: inline;
  }
  img {
    display: inline;
    padding: 0 0.25rem;
    height: 24px;
    transform: translateY(1px);
  }
  a {
    &:link,
    &:visited {
      font-size: 0.65rem;
      text-decoration: underline;
    }
  }
}

.productPrice {
  p {
    font-family: var(--font-sans-bold);
    font-size: 2.75rem;
    line-height: 1;
    margin: 0.25rem 0 1rem;
  }
}

.productPriceSecondary {
  margin: 0 0 0.5rem;
  p {
    font-size: 0.95rem;
  }
}

.button {
  margin-top: 45px;
  p a {
    padding: 1rem 1.5rem;
    margin-top: 45px;
    width: 180px;

    font-family: var(--font-sans-bold);
    font-size: 1rem;
    line-height: 1;
    color: var(--font-inverted);

    background-color: var(--font-primary);
    border-radius: 50px 50px;

    transition: background-color 250ms ease-out;

    &:hover {
      background-color: var(--color-teal-dark);
    }
  }
}

// @media (max-width: $xl) {
//   .productSection {
//     h2 {
//       font-size: 39px;
//     }

//     p {
//       font-size: 16px;
//     }
//   }

//   .productPurchase {
//     .shopActions span {
//       font-size: 21px;
//     }

//     .discountNote {
//       img {
//         padding-left: 3px;
//         height: 17px;
//       }

//       p {
//         font-size: 12px;
//       }
//     }
//   }

//   .addToCart {
//     margin-top: 35px;

//     p a {
//       padding-top: 13px;
//       padding-bottom: 13px;

//       font-size: 13px;
//     }
//   }
// }

// @media (max-width: 1023px) {
//   .productSection {
//     padding-top: 100px;
//     padding-bottom: 70px;
//   }

//   .productImage {
//     margin-bottom: 70.2px;

//     .image {
//       width: 86vw;
//     }

//     .screenshot {
//       right: 4%;
//       width: 35%;
//     }
//   }
// }

// @media (max-width: $sm) {
//   .productSection {
//     h2 {
//       font-size: 34px;
//     }

//     p {
//       font-size: 16px;
//     }
//   }

//   .productPurchase {
//     padding-top: 12.6px;

//     .shopActions span {
//       font-size: 24px;
//     }
//   }

//   .addToCart {
//     margin-top: 33.6px;

//     p a {
//       padding-top: 13px;
//       padding-bottom: 13px;

//       font-size: 12px;
//     }
//   }
// }

// @media (max-width: $xs) {
//   .productImage {
//     .screenshot {
//       right: 5%;
//     }
//   }
// }
