@import "../../styles/_variables.scss";

.featuredWrap {
  h2 {
    padding-bottom: 75.5px;
    margin-bottom: 49.5px;

    font-size: 60px;
    line-height: 0.92;
    letter-spacing: -1.8px;

    border-bottom: 3px solid var(--color-suva-grey);
  }

  span {
    font-family: var(--font-sans);
    font-size: 20px;
    color: var(--color-suva-grey);
  }

  a {
    display: flex;
    align-items: center;

    font-family: var(--font-sans-bold);
    font-size: 20px;
    line-height: 1.5;

    p {
      margin-bottom: 0;
    }
  }

  svg {
    width: 48px;
    height: 29px;
  }

  img {
    width: 100%;
  }
}

.featuredList {
  margin-bottom: 97.5px;
  width: 100%;

  h1 {
    padding-bottom: 0;
    margin-top: 38px;
    margin-bottom: 38px;

    font-size: 40px;
    line-height: 1.38;
    letter-spacing: -1.2px;
  }

  a p {
    font-weight: bold;
    text-decoration: underline;
  }
}

.featuredItem {
  padding-bottom: 49.5px;

  border-bottom: 2px solid var(--color-suva-grey);

  &:nth-child(even) div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    & div:nth-child(2) {
      flex-direction: column;
      justify-content: center;
      margin-left: 0;
    }

    .actionWrap {
      justify-content: flex-end;
    }
  }

  &:not(:last-child) {
    margin-bottom: 49.5px;
  }
}

// @media screen and (min-width: 769px) and (max-width: 1280px) {
//   .featuredWrap{
//     h2 {
//       padding-bottom: 51.5px;
//       font-size: 40px;
//     }

//     h3 {
//       font-size: 26px;
//     }
//   }
// }

@media (max-width: $xl) {
  .featuredWrap {
    span {
      font-size: 17px;
    }
  }

  .featuredList h1 {    
    margin-top: 25px;
    margin-bottom: 25px;

    font-size: 27px;
  }
}

@media (max-width: $sm) {
  .featuredWrap{
    h2 {
      padding-bottom: 38.6px;

      font-size: 34px;
    }

    h3 {
      margin-top: 18px;
      margin-bottom: 18px;

      font-size: 24px;
    }

    span {
      margin-top: 11px;

      font-size: 12px;
    }
    
    a {
      font-size: 12px;
    }

    svg {
      width: 34px;
      height: 18px;
    }
  }
  
  .featuredList {
    margin-bottom: 68.5px;
    
    h1 {
      margin-top: 18px;
      margin-bottom: 18px;

      font-size: 20px;
    }

    a p {
      font-size: 12px;
    }
  }

  .featuredItem {
    padding-bottom: 36.6px;
  }
}