@import "../../styles/variables";

.customContainer {
  padding-top: 150px;
}

.content {
  h5 {
    margin-top: 10px;
    margin-bottom: 0;
    
    font-family: var(--font-sans-bold);
    font-size: 16px;
    text-transform: capitalize;
  }
  
  h6 {
    margin-top: 8px;
    margin-bottom: 0;
  
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 14px;
  }

  p {
    margin-top: 15px;
  
    font-size: 14px;
  }
}

.portrait {
  img {
    border-radius: 8px;
  }
}

.text {
  margin-top: 0;
  margin-bottom: 0;
  
  line-height: normal;
  text-transform: capitalize;
}

@media (max-width: $sm) {
  .customContainer {
    padding-top: 30px;
  }
}