.button {
  display: inline-block;
  padding: 0.9rem 3rem;
  background-color: var(--blue-primary);
  color: var(--text-color-secondary);
  font-size: 1rem;
  line-height: 1;
  font-family: var(--font-sans);
  border-radius: 50px 50px;
  transition: background-color 300ms ease-in-out;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  &:hover,
  &:active {
    color: var(--text-color-secondary);
    background-color: var(--blue-accent);
  }
}
