@import "../../styles/_variables.scss";

.layout {
  // padding-top: 10rem;
  padding-top: 300px;

  section:first-of-type {
    padding-top: 0;
  }
}

@media (max-width: $md) {
  .layout {
    padding-top: 122px;
  }
}