@import "../../../styles/_variables.scss";
.checklistContainer {
  background: linear-gradient(180deg, var(--gray-10) 20%, var(--gray-20) 20%);
  @media (min-width: $md) {
    background: linear-gradient(
      180deg,
      var(--gray-10) calc(100vw * 0.385),
      var(--gray-20) calc(100vw * 0.385)
    );
  }
  h2 {
    font-size: 2rem;
    margin-top: 2rem;
    @media (min-width: $md) {
      font-size: 2rem;
      line-height: 1.3;
      margin-top: 30%;
    }
    @media (min-width: $lg) {
      font-size: 2.5rem;
      margin-top: 30%;
    }
  }
}

.image {
  overflow: hidden;
  border-radius: var(--border-radius);
}

.offsetText {
  @media (min-width: $md) {
    padding: 0 0.5rem 0 45%;
  }
  p {
    margin: 2rem 0 1rem;
    font-size: 1rem;
  }
}

.checklist {
  width: 100%;
  @media (min-width: $md) {
    position: relative;
    z-index: 2;
    transform: translate(50%, 2rem);
  }
  @media (min-width: $lg) {
    position: relative;
    z-index: 2;
    transform: translate(40%, 5rem);
  }
}

.checklistItems {
  list-style: none;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    span {
      display: block;
      font-size: 0.75rem;
      @media (min-width: $md) {
        font-size: 1.25rem;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.item {
  margin-bottom: 1rem;
  padding: 1rem 1.25rem;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-soft);
  @media (min-width: $md) {
    padding: 1rem 2rem;
  }
  p {
    margin: 0;
    font-size: 0.9rem;
    @media (min-width: $md) {
      font-size: 1rem;
    }
    strong {
      display: block;
      font-family: var(--font-sans);
      font-size: 0.85rem;
      font-weight: 400;
      color: var(--gray-50);
    }
  }
}

.checkmark {
  display: block;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

.listHeader {
  h3 {
    font-size: 1.5rem;
    line-height: 1.3;
    margin: 0;

    @media (min-width: $md) {
      font-size: 2rem;
    }
  }

  h4 {
    font-size: 1.5rem;
    margin: 0;
  }
}
