@import "../../../styles/_variables.scss";

.image {
  width: 100%;
  height: auto;
  display: block;
}

.tabs {

}

// Tab Labels
.tabLabels {
  display: flex;
  align-items: center;
  z-index: 20;
  padding: 0;
  margin: 0;
  @media (min-width: $md) {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateY(-50%);
    flex-basis: 35.714285714%;
    max-width: 35.714285714%;
  }

  li {
    cursor: pointer;
    font-size: 1.25rem;
    padding: 0 1rem;
    margin: 0 0.5rem;
  }
}

.tabLabel {
  display: inline;
  margin: 0 1rem;
  cursor: pointer;
  opacity: 0.2;
  &.activeTab {
    opacity: 1;
    text-decoration: underline;
  }
}


// Image area
.imageContainer {
  position: relative;
}

.profileImage {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 0;
}

.profileScore {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  z-index: 1;
  width: 35%;
  padding-top: 35%;
  height: 0;
}

.profileType {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 1;
  p {
    word-break: break-all;
    word-spacing: 100vw;
    color: var(--font-inverted);
    font-family: var(--font-sans-headline);
    font-size: 2.1875rem;
    line-height: 2.734375rem;
  }
}

// Content area
.profileContent {
  background: #fff;
  padding: 2rem;
  transform: translateY(20%);
  h3 {
    margin-bottom: 0;
  }
  p {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
  p small {
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: #A8A8A8;
    font-family: var(--font-sans-bold);
  }
}