@import "../variables";

.blogPost {
  position: relative;

  overflow: hidden;

  color: var(--color-teal-dark);

  .contentWrapper {
    // padding: 334px 0 178px;
    padding: 34px 0 178px;
  }

  h1 {
    margin-bottom: 47px;

    font-family: var(--font-sans);
    font-size: 90px;
    letter-spacing: -6px;
    word-spacing: 13px;
  }

  .postInfoWrapper {
    display: flex;
    margin-bottom: 83px;
  }

  .category {
    position: relative;

    font-size: 21px;
    font-weight: 600;
    color: var(--color-teal-dark);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 1px;

      width: 100%;
      height: 2px;

      background-color: var(--color-teal-dark);
    }
  }

  .date {
    margin-left: 47px;

    color: var(--color-teal-dark);
  }
  
  .mediaWrapper {
    position: relative;

    margin-bottom: 92px;
  }

  .mediaHolder {
    position: absolute;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
  }

  .video {
    height: 100%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .postContent {
    &:nth-of-type(odd) {
      .mediaWrapper,
      .mediaHolder {
        height: calc(100vh + 206px);
      }

      .mediaHolder {
        right: -3%; 
        left: 0;
      }
    }
    
    &:nth-of-type(even) {
      .mediaWrapper {
        height: calc(100vh + 95px);
      }

      .mediaHolder {
        right: 0;
        left: -160px;

        height: calc(100vh + 95px);
        width: 90.3%;
      }
    }    
  }

  .contentText {
    display: flex;
    flex-wrap: wrap;
  
    .contentHolder {
      &:first-child {
        margin-right: 13px;
        width: 40%;
      }
  
      &:last-child {
        padding-top: 8px;
        width: 55%;
      }
    }
  
    h2 {
      font-family: var(--font-sans);
      font-size: 29px;
      font-weight: 600;
    }
  
    p {
      color: var(--color-teal-dark);

      &:not(:last-child) {
        margin: 0 0 59px;
      }
    }

    a {
      color: var(--font-primary);
      text-decoration: underline;
    }

    .quoteText p {
      margin: 94px 0;

      font-size: 50px;
      font-weight: 600;
      line-height: 66px;
    }
  }
}

.blogPost + footer,
.blogPost > footer {
  background-color: var(--color-light-cyan);
}

@media (min-width: 1681px) and (max-width: 1920px) {
  .blogPost {
    .postContent {
      &:nth-of-type(odd) .mediaHolder {
        width: calc(100vw - 158px);
      } 

      &:nth-child(even) .mediaHolder {
        left: -168px;
      }
    }
  }
}

@media (max-width: $xxl) {
  .blogPost {
    .postContent {
      &:nth-of-type(odd) .mediaHolder {
        right: -3.6%;
      } 

      &:nth-of-type(even) .mediaHolder {
        left: -48px;
      }
    }
  }
}

@media (max-width: $xl) {
  .blogPost {
    .contentWrapper {
      // padding: 230px 0 120px;
      padding-bottom: 120px;
    }

    .postContent {
      &:nth-of-type(odd) .mediaHolder {
        right: -48px;
      } 

      &:nth-of-type(even) .mediaHolder {
        left: -48px;
      }
    }
  }
}

@media (max-width: $lg) {
  .blogPost {
    .contentWrapper {
      // padding: 170px 0 50px;
      padding-bottom: 50px;
    }

    h1 {
      margin-bottom: 25px;
      
      font-size: 70px;
    }

    .postInfoWrapper {
      margin-bottom: 60px;
    }

    .postContent {
      &:nth-of-type(odd) {
        .mediaWrapper,
        .mediaHolder {
          height: calc(100vh + 50px);
        }

        .mediaHolder {
          right: -48px;
        }
      }
      
      &:nth-of-type(even) {
        .mediaWrapper,
        .mediaHolder {
          height: calc(100vh + 45px);
        }

        .mediaHolder {
          left: -48px;
        }
      }    
    }

    .contentText {
      .quoteText p {
        margin: 70px 0;

        font-size: 40px;
        line-height: 60px;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
  .blogPost {
    .postContent {
      &:nth-of-type(odd) .mediaHolder {
        right: -48px !important;
      } 

      &:nth-of-type(even) .mediaHolder {
        left: -5.2% !important;
      }
    }
  }
}

@media (max-width: $md) {
  .blogPost {
    .contentWrapper {
      // padding: 150px 0 30px;
      padding: 50px 0 30px;
    }

    h1 {
      margin-bottom: 25px;
      
      font-size: 70px;
    }

    .postInfoWrapper {
      margin-bottom: 40px;
    }

    .mediaWrapper {
      margin-bottom: 60px;
    }

    .postContent {
      &:nth-of-type(odd) {
        .mediaWrapper,
        .mediaHolder {
          height: 100vh;
        }

        .mediaHolder {
          right: -16px;
        }
      }
      
      &:nth-of-type(even) {
        .mediaWrapper,
        .mediaHolder {
          height: 90vh;
        }

        .mediaHolder {
          left: -2.2%;
        }
      }    
    }

    .contentText {
      p:not(:last-child) {
        margin: 0 0 35px;
      }

      .quoteText p {
        margin: 50px 0;

        font-size: 30px;
        line-height: 45px;
      }
    }
  }
}

@media (max-width: $sm) {
  .blogPost {
    .contentWrapper {
      // padding: 108px 0 16px;
      padding: 0 0 16px;
    }

    h1 {
      margin: 25px 0 25px 0;
      width: 222px;

      font-size: 38px;
      line-height: 44px;
      letter-spacing: -4px;
      word-spacing: 7px;
    }

    .postInfoWrapper {
      margin-bottom: 46px;
    }

    .category,
    .date {
      margin-bottom: 0;

      font-size: 12px;
    }

    .category:after {
      height: 1px;
    }

    .mediaWrapper {
      margin-bottom: 54px;
    }

    .postContent {
      &:nth-of-type(odd) {
        .mediaWrapper,
        .mediaHolder {
          height: 50vh;
        }

        .mediaHolder {
          right: -16px;
        }
      }
      
      &:nth-of-type(even) {
        .mediaWrapper,
        .mediaHolder {
          height: 420px;
        }

        .mediaHolder {
          left: 0;
          
          width: 100%;
        }
      }    
    }

    .contentText {
      .contentHolder:first-child,
      .contentHolder:last-child {
        width: 100%;
      }

      h2 {
        margin-bottom: 7px;

        font-size: 16.4px;
      }

      p:not(:last-child) {
        margin: 0 0 25px;
      }

      .quoteText p {
        margin: 39px 0 60px;

        font-size: 31px;
        line-height: 45px;
      }
    }
  }
}

@media (max-width: $xs) {
  .blogPost {
    .postContent {
      &:nth-of-type(odd) .mediaHolder {
        right: -16px;
      }   
    }
  }
}
