@import "../../../styles/_variables.scss";

.tabLabels {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0 0 2rem;
  margin-left: -1rem;
  margin-bottom: 2rem;
  @media (min-width: $md) {
    margin-bottom: 0;
    justify-content: flex-start;
  }
}

.tabLabel {
  display: inline;
  margin: 0 1rem;
  cursor: pointer;
  opacity: 0.2;
}

.activeTab {
  opacity: 1;
  text-decoration: underline;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}