.tabLabels {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0 0 2rem;
  margin-left: -1rem;
}

.tabLabel {
  display: inline;
  margin: 0 1rem;
  cursor: pointer;
  opacity: 0.2;
}

.activeTab {
  opacity: 1;
  text-decoration: underline;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}