@import "../../styles/_variables.scss";

.form {
  display: block;
  margin-top: 1rem;
  margin-left: -2.5%;
  width: 105%;  
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputEmail {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  
  font-family: var(--font-sans);
  font-size: 14px;
  color: var(--font-primary);
  line-height: 2.14;
  text-align: left;
  
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid var(--font-primary);
  border-radius: 0;


  &:focus {
    box-shadow: none;

    outline: none;
  }

  &::placeholder {
    color: var(--font-primary);
  }
}

.buttonSubmit {
  display: block;
  padding: 15px 9px;
  margin: 28.5px 0;
  width: 180px;

  font-size: 14px;
  font-weight: 600;
  color: var(--font-inverted);
  text-transform: capitalize;

  background-color: var(--font-primary);
  border: none;
  border-radius: 23px;

  cursor: pointer;
  transition: background-color 250ms ease-out;

  &:hover, &:focus, &:active {
    background-color: lighten(#034561, 10);
    border: none;

    outline: none;
  }
}

.messages {
  padding: 0 1.5rem;
}

.messageSending {
  display: flex;

  color: rgba(0,0,0,.45);

  span {
    display: block;

    &:first-of-type {
      margin-right: 0.35rem;
    }
  }
}

.messageError {
  color: rgba(0,0,0,.45);
}

.messageSuccess {
  color:rgba(0,0,0,.45);
}

// .newsletterForm {
//   background-color: red;
// }

@media (min-width: $md) {
  .form {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: $xl) {
  .form {
    margin-top: 3px;
    margin-left: 0;
  }
}

@media (max-width: $md) {
  .form {
    margin-top: 60px;
    margin-left: 0;
    width: 100%;
  }
}
