@import "../../styles/_variables.scss";

.form {
  position: relative;
  display: block;
  width: 100%;
  max-width: 500px;
  margin-top: 3rem;
  width: 106%;
  transform: translateX(-3%);
  @media (min-width: $sm) {
    margin-top: 1rem;
  }
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 50px;
  min-height: 53px;
}

.inputEmail {
  position: absolute;
  display: block;
  width: 100%;
  text-align: left;
  border: 0;
  border-radius: 50px;
  padding: 1rem 35% 1rem 1.5rem;
  color: var(--text-color-primary);
  background-color: var(--white);
  font-size: 1.1rem;
  &::placeholder {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
  }
  @media (min-width: $md) {
    padding: 1rem 34% 1rem 1.5rem;
  }
  @media (min-width: $lg) {
    padding: 1rem 32% 1rem 1.5rem;
  }
}

.button {
  z-index: 100;
  position: absolute;
  right: 0.5rem;
  display: inline-block;
  padding: 0.85rem 1.25rem;
  font-size: 0.85rem;
  line-height: 1rem;
  background-color: var(--blue-primary);
  color: var(--text-color-secondary);
  font-family: var(--font-sans-bold);
  border-radius: 50px 50px;
  transition: background-color 300ms ease-in-out;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

  span {
    display: block;
  }
  &:hover,
  &:active {
    color: var(--text-color-secondary);
    background-color: var(--blue-accent);
  }

  @media (min-width: $md) {
    font-size: 0.85rem;
    padding: 0.65rem 1.75rem;
  }
}

.messages {
  font-size: 0.85rem;
  padding: 1rem 1rem 1rem;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.75;

  @media (min-width: $md) {
    padding: 1rem 2rem 1rem;

    position: absolute;
    top: 3rem;
  }
}

.messageSending {
  color: rgba(0, 0, 0, 1);
  display: flex;
}

.messageError {
  color: rgba(0, 0, 0, 1);
}

.messageSuccess {
  color: rgba(0, 0, 0, 1);
}

.theme-light {
  .inputEmail {
    background-color: #ddd;
  }
}
