@import "../../../styles/_variables.scss";
.carousel {
  max-width: 100%;
  overflow: hidden;
  margin: 4rem 0;
  text-align: center;
  @media (min-width: $md) {
    margin: 8rem 0;
  }
}

.contentContainer {
  width: 100%;
  p:last-of-type {
    margin-bottom: 0;
  }
  p + a {
    margin-top: 2rem;
  }
}

.swiper {
  > div {
    width: 100%;
    max-width: $xxl;
    padding: 0 1rem;
    margin: 1rem 0;
    overflow: visible;
    @media (min-width: $md) {
      padding: 0 3rem;
      margin: 2rem 0;
    }
  }
}

.slide {
  position: relative;
  overflow: hidden;
  margin: 1rem 0 3rem;
}

.card {
  background: #fff;
  border-radius: 0.75rem;
  text-align: left;
  .content {
    padding: 0.75rem 1.25rem;
  }
  p,
  h3 {
    font-family: var(--font-sans);
    font-size: 1.1rem;
    line-height: 1.3;
  }

  h3 {
    margin: 0 0 0.25rem;
  }

  p {
    margin-bottom: 0;
    color: var(--color-suva-grey);
  }
}
