@import "../../styles/_variables.scss";

.topbar {
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-content: center;
  background-color: var(--color-white);


  button, a {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.active {
      color: rgba(0,0,0,0.45);
    }

    &:focus {
      border: none;
      background: transparent;
      outline: none;
      appearance: none;
    }
  }

  .logo {
    padding: 0;
    display: block;
    width: 80px;
    position: relative;
    margin: 1rem auto;
  }
}


.container {
  position: relative;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: $xxl;
  padding: 0 1rem;

  @media (min-width: $md) {
    padding: 0 2rem;
  }
}

.menuToggle {
  height: 100%;
  position: absolute;
  top: 0;
  left: 1rem;
  @media (min-width: $md) {
    left: 2rem;
  }
}

.utility {
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  right: 1rem;
  @media (min-width: $md) {
    right: 2rem;
  }
}





