.topbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-content: center;

  button, a {
    font-size: 0.75rem;
    padding: 0.5rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .logo {
    padding: 0;
    display: block;
    width: 80px;
    position: relative;
    margin: 1rem auto;
  }
}





