@import "../../../styles/variables";

.quadCarousel {
  margin-top: -476px;
  padding-top: 684px;
  padding-bottom: 609px;
  overflow: inherit;

  h2, h3 {
    font-family: var(--font-sans-headline);
  }

  h2 {
    margin-bottom: 38px;

    font-size: 72px;
    line-height: 1.18;
    letter-spacing: -2.16px;
  }

  h3 {
    margin-bottom: 0;

    font-size: 50px;
    letter-spacing: -1.5px;
  }

  h5 {
    margin-top: 0;
    margin-bottom: 8px;

    font-size: 30px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.15px;
    text-transform: capitalize;
  }

  picture {
    border-radius: 10px;
  }

  p {
    margin: 0 auto;
    width: 752px;
    max-width: 100%;

    font-size: 20px;
    line-height: 1.5;
  }
}

.card {
  padding: 30px 36px;

  background-color: var(--font-inverted);
  border-radius: 15px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.03);
}

.swiperWrap {
  position: relative;

  margin-top: 137px;

  & > div {
    overflow: hidden;
  }
}

.mainSwiper {
  margin: 0 auto;
  width: 903px;

  border-radius: 15px;

  & > div {
    width: 903px;
    height: 810px;

    border-radius: 15px;
  }
}

.detailsWrap,
.listWrap {
  & > div {
    pointer-events: none;
  }
}

.detailsWrap {
  position: absolute;
  left: 0;
  bottom: -89px;
  z-index: 2;

  margin-left: auto;
  margin-right: auto;
  width: 441px;
  overflow: hidden;
}

.listWrap {
  position: absolute;
  bottom: -216px;
  right: 0;
  z-index: 2;

  margin: 0 auto;
  width: 645px;
  
  & > div {
    width: 645px;
    
    & > div:first-child {
      display: none;
    }
  }
  
  .listContent {
    padding: 75px;

    background-color: var(--font-inverted);
    border-radius: 15px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.03);
  }

  p {
    color: var(--color-gray66);
  }

  ul {
    padding-top: 61px;
    padding-left: 0;

    list-style: none;
  }

  li {
    display: flex;
    align-items: center;
    
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  svg {
    margin-right: 23px;

    height: 40px;
  }
}

.nameWrap {
  h5 {
    font-family: var(--font-sans-headline);
  }

  p {
    color: var(--color-gray66);
  }
}

.meterWrap {
  margin-top: 25px;

  &.card {
    padding: 0;
  }

  .meter__animation {
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 366px;

      p {
        color: var(--font-primary);
        font-size: 40px;
        text-align: center;
      }
    }
  }

  svg {
    height: 366px;
  }
}

@media (min-width: $sm) {
  .headingWrap {
    h2, p {
      text-align: center;
    }
  }
}

@media (max-width: $xl) {
  .quadCarousel {
    padding-top: 555px;

    h2 {
      margin-bottom: 31px;

      font-size: 59px;
    }

    h3 {
      font-size: 34px;
    }

    h5 {
      font-size: 19px;
    }

    p {
      width: 57vw;

      font-size: 14px;
    }
  }

  .swiperWrap {
    margin-top: 68px;
  }

  .mainSwiper {
    width: 706px;
  
    & > div {
      width: 706px;
      height: 673px;

      & > div:first-child {
        left: -36px !important;
      }
    }
  }

  .listWrap {
    width: 380px;

    & > div {
      width: 380px;
    }
    
    .listContent {
      padding: 37px;
    }

    ul {
      padding-top: 27px;
      margin-bottom: 0;
    }

    li {
      font-size: 15px;
    }

    svg {
      height: 24px;
    }
  }

  .meterWrap {
    .meter__animation {
      & > div {
        height: 271px;
  
        p {
          font-size: 29px;
        }
      }
    }

    svg {
      height: 236px;
    }
  }
}

@media (max-width: $lg) {
  .quadCarousel {
    .detailsWrap {
      width: 320px;
    }
  }
}

@media (max-width: $md) {
  .quadCarousel {
    .detailsWrap {
      width: 260px;
    }
  }
}

@media (max-width: $sm) {
  .quadCarousel {
    padding-top: 482px;
    padding-bottom: 0;

    & > div {
      padding-left: 0;
      padding-right: 0;
    }

    h2 {
      margin-bottom: 32px;
      
      font-size: 34px;
    }

    h3 {
      font-size: 24px;
    }

    h5 {
      margin-bottom: 4px;

      font-size: 18px;
    }

    p {
      width: 100%;

      font-size: 16px;
    }
  }

  .swiperWrap {
    margin-top: 137px;
  }

  .card {
    padding: 18px;
  }

  .mainSwiper {
    margin-left: auto;
    margin-right: 0;
    width: 75vw;
  
    & > div {
      height: auto;
      width: 75vw;
      margin-right: 0;
      margin-left: 0;

      & > div:first-child {
        display: none;
      }
    }
  }

  .detailsWrap {
    top: -80px;
    bottom: 0;

    padding-left: 15px;
    height: 274px;
    pointer-events: none;
  }

  .listWrap {
    position: relative;
    top: 0;
    bottom: 0;
    z-index: 0;
    
    margin-top: -49px;
    width: 100%;
    
    border-radius: 0;
    
    & > div {
      width: 100%;
      height: 590px;

      & > div:nth-child(1) {
        bottom: 0;

        display: block;
        padding-top: 7px;

        height: 34px;
        
        background-color: #f2f2f2;
      }
    }
    
    .listContent {
      padding: 67px 16px 51px;

      border-radius: 0;
    }

    p {
      font-size: 12px;
    }

    ul {
      padding-top: 46px;
    }

    li {
      font-size: 16px;
    }

    svg {
      margin-right: 20px;
      height: 30px;
    }
  }

  .headingWrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  .nameWrap {
    p {
      font-size: 12px;
    }
  }

  .meterWrap {
    margin-right: 50px;
    
    .meter__animation {
      & > div {
        height: 167px;
  
        p {
          font-size: 18px;
        }
      }
    }

    svg {
      height: 135px;
    }
  }
}

