@import "../../../styles/_variables.scss";

.checklistWrap {
  padding-bottom: 694px;
  margin-top: 196px;

  h5 {
    font-family: var(--font-sans-headline);
    font-size: 50px;
    line-height: 1.3;
    letter-spacing: -1.5px;
    text-transform: initial;
  }

  p {

    font-size: 20px;
  }
}

.card {
  padding: 30px 36px;

  background-color: var(--font-inverted);
  border-radius: 15px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.03);

  p {
    margin-top: 0;
    margin-bottom: 16px;
  }
}

.listHolder {
  position: absolute;
  bottom: -646px;
  left: 21vw;
  z-index: 2;

  .card {
    padding: 18px 19px;
  }

  ul {
    padding-left: 0;

    list-style: none;
  }

  li {
    display: flex;
    align-items: center;
    width: 420px;
    max-width: 100%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    p {
      padding-left: 28px;
      margin-bottom: 0;

      font-size: 24px;
      font-weight: 500;
    }
  }
}

.cardHeader {
  h3 {
    margin-bottom: 0;

    font-size: 30px;
    font-weight: bold;
  }

  h6 {
    padding-top: 16px;
    margin-top: 0;
    margin-bottom: 11.5px;

    font-size: 20px;

    border-top: 1px solid var(--font-primary);
  }

  p {
    padding-left: 0;
    width: 100%;

    font-size: 16px;
  }
}

.cardList {
  padding-left: 0;
  margin-top: 25px;
  height: 335px;
  overflow-y: auto;

  border-radius: 15px;

  list-style: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  .card {
    opacity: .5;
    transition: all .3s ease-in-out;

    &:first-child {
      opacity: 1;
    }
    
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  .active {
    opacity: 1;
  }

  label {
    position: relative;

    display: block;
    padding-left: 35px;

    font-size: 22px;

    cursor: pointer;
    user-select: none;

    &:hover {
      input ~ .checkmark {
        background-color: var(--color-pastel-green);
        border-color: var(--color-pastel-green);
      }
    }

    input {
      position: absolute;

      height: 0;
      width: 0;

      opacity: 0;
      cursor: pointer;

      &:checked ~ .checkmark {
        background-color: var(--color-pastel-green);
        border-color: var(--color-pastel-green);
      }

      &:checked ~ .checkmark:after {
        display: block;
      }
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;

      width: 40px;
      height: 40px;

      background-color: transparent;
      border: 1px solid var(--font-primary);
      border-radius: 50%;

      transition: all .3s ease-in;

      &:after {
        content: "";

        position: absolute;
        left: 50%;
        top: 45%;

        display: none;
        width: 5px;
        height: 10px;

        border: solid var(--color-forest-green);
        border-width: 0 3px 3px 0;

        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  p {
    padding-top: 5px;
    padding-left: 15px;
    margin-bottom: 0;
  }
}

.actionHolder {
  display: flex;
  align-items: center;

  h6 {
    padding-top: 0;
    margin-bottom: 0;

    font-weight: normal;

    border-top: 0;
  }

  p {
    margin-bottom: 0;

    color: var(--color-dark-gray);
  }

  svg {
    height: 40px;
  }
}

.actionDetails {
  padding-left: 10px;
}

.imageWrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 57vw;
}

@media (max-width: $xl) {
  .checklistWrap {
    h5 {
      font-size: 31px;
    }

    p {
      width: 373px;

      font-size: 16px;
    }
  }

  .listHolder {
    left: 19vw;

    width: 33vw;
    max-width: 100%;
  }

  .cardList {
    height: 256px;

    label {
      .checkmark {
        width: 30px;
        height: 30px;
      }
    }

    p {
      padding-left: 7px;

      width: 100%;
    }
  }

  .cardHeader {
    h3 {
      font-size: 22px;
    }

    h6 {
      font-size: 16px;
    }

    p {
      width: 100%;

      font-size: 12px;
    }
  }

  .actionHolder svg {
    height: 30px;
  }

  .card {
    padding: 19px 20px;
  }
}

@media (max-width: $md) {
  .checklistWrap {
    padding-bottom: 500px;

    picture {
      margin-left: auto;
      width: 74vw;
    }

    h5 {
      margin-top: 0;
      margin-bottom: 0;
      width: 580px;
      max-width: 100%;

      font-size: 34px;
    }

    p {
      margin-top: 32px;
      margin-left: 0;
      margin-right: auto;

      font-size: 14px;
    }
  }

  .listHolder {
    bottom: -424px;
    left: 10px;

    width: 87%;
  }

  .card {
    padding: 19px 20px;
  }

  .cardHeader {
    h3 {
      font-size: 18px;
    }

    h6 {
      font-size: 14px;
    }

    p {
      margin-top: 0;

      font-size: 12px;
    }
  }

  .cardList {    
    height: 300px;

    label {
      .checkmark {
        width: 30px;
        height: 30px;
      }
    }

    p {
      padding-left: 5px;
      margin-top: 0;
    }
  }

  .actionHolder {
    svg {
      height: 30px;
    }
  }

  .cColumn {
    flex-direction: column-reverse;
  }
}