@import "../../../styles/_variables.scss";

.accordion {
  margin-top: 2rem;
}

// .items {
//   // border-bottom: 1px solid #fff;
// }

.accordionHead {
  display: flex;
  align-items: center;
}

.item {
  position: relative;

  overflow: hidden;

  &:not(:last-child) {
    padding-bottom: 1rem;
  }

  &:last-child {
    .cBorder {
      top: 50px;
    }
  }

  &.activeItem {
    &:last-child {
      .cBorder {
        top: 32px;
      }
    }
  }

  .itemLabel,
  .itemIndex {
    color: var(--color-suva-grey)
  }

  .itemLabel {
    padding-left: 64px;

    font-size: 30px;
  } 

  .itemIndex {
    font-size: 14px;
  }

  p {
    padding-left: 96.23px;

    font-size: 20px;
    line-height: 1.5;
  }
}

.cBorder {
  position: absolute;
  top: 32px;
  left: 8px;

  height: 100%;

  border-left: 1px solid var(--color-suva-grey);
}

.activeItem {
  .itemLabel,
  .itemIndex {
    color: var(--font-primary)
  }

  .cBorder {
    border-left: 1px solid var(--font-primary);
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.theme-light {
  color: #fff;
  .items {
    border-color:#fff;
  }
  .item {
    border-color:#fff;
  }
  .icon {
    stroke: #fff;
  }
}

.theme-dark {
  color: #000;
  .items {
    border-color: #000;
  }
  .item {
    border-color: #000;
  }
  .icon {
    stroke: #000;
  }
}


.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 2.4375rem;
  span {
    margin-right: 1rem;
  }
  &.activeTab {
    // color: red;
  }
}

.content {
  padding: 1rem 0 62px;

  p:last-of-type {
    margin-bottom: 0;
  }
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.backgroundImage {
  @media (min-width: $md) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 33%;
    display: flex;
    align-items: flex-end;
  }

  picture, img {
    width: 100%;
    height: auto;
    // object-fit: cont;
  }
}

.section {
  padding-bottom: 0;

  h1 {
    font-size: 50px;
    font-weight: normal;
  }
}

.svgPieGraph {
  height: 426px;
  transform: rotate(92deg);
}

@media (min-width: $md) {
  .section {
    padding-bottom: 10rem;
  }
}