@import "../../styles/_variables.scss";

.footer {
  width: 100%;
  font-size: 1rem;

  ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
    li {
      margin-bottom: 0.5rem;
    }
    &.socialLinks {
      margin-top: 1rem;
      margin-bottom: 1rem;
      
      display: flex;
      justify-content: space-between;
  

      @media (min-width: $md) {
      margin-top: 0.75rem;
      margin-bottom: 0;
      li {
        margin-bottom: 0.75rem;
        img {
          width: 28px;
          height: auto;
        }
      }
      }
    }
  }
  p {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  a {
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.25rem;
    &:link,
    &:visited {
      text-decoration: none;
    }
    &:hover,
    &:active {
  
    }
  }
}

.mark {
  margin-bottom: 1rem;
}

.secondary {
  margin: 2rem 0;
}

.tertiary {
  margin: 1rem 0 2rem;
  @media (min-width: $md) {
    margin: 4rem 0 2rem;
  }
  p {
    font-size: 0.75rem;
    line-height: 0.9375rem;
    margin: 1rem 0 0;
    @media (min-width: $md) {
      margin: 0;
    }
  }
  a {
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }
  ul {
    margin: 0;
    margin-left: -1rem;
    display: flex;
    li {
      margin: 0 1rem;
      display: block;
      a {
        display: block;
      }
    }
  }
}