.footer {
  width: 100%;
  font-size: 1rem;

  ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
  }
  p {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  a {
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.25rem;
    &:link,
    &:visited {
      text-decoration: none;
    }
    &:hover,
    &:active {
  
    }
  }
}

.secondary {
  margin: 2rem 0;
}

.tertiary {
  margin: 4rem 0 1rem;

  p {
    font-size: 0.75rem;
    line-height: 0.9375rem;
    margin: 0;
  }
  a {
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }
  ul {
    margin: 0;
    margin-left: -1rem;
    li {
      margin: 0 1rem;
      display: inline-block;
    }
  }
}