@import "../../../styles/variables";

.textMulti {
  max-width: 100%;
  padding: 4rem 0 3rem;

.image {
  margin: 4rem 0;
}

.container {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.caption {
  text-align: center;
  p {
    font-size: 0.85rem;
    margin: 0.5rem 0;
    color: var(--gray-60);
  }
}
}