@import "../../../styles/variables";

.slide {
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &.active,
  &:first-of-type {
    @media (min-width: $md) {
      display: flex;
    }
  }

  .btnPause {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 3;

    opacity: 0.3;
  }

  .slideLeft {
    height: 50vh;
    width: 100vw;
    overflow: hidden;

    .btnPause {
      left: 15px;
    }

    @media (min-width: $md) {
      height: 100vh;
      width: 50%;
    }
  }

  .slideRight {
    min-height: 50vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;

    // Offset for button
    padding-bottom: 50px;

    @media (min-width: $md) {
      height: 100vh;
      width: 50%;
      text-align: left;
      padding-bottom: 0;
    }
  }

  .headline {
    padding: 0 2rem;
    max-width: 890px;
  }

  picture,
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.headline {
  h1 {
    padding-left: 89px;
  }
}

.buttons {
  position: absolute;
  top: 200px;
  left: 200px;
}

.score {
  font-size: 7.25rem;
  line-height: 1;
  color: var(--font-inverted);
  font-family: var(--font-sans-headline);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  width: 100%;
  @media (min-width: $md) {
    font-size: 14.0625rem;
    width: 405px;
  }
  span {
    font-size: 7.25rem;
    display: block;
    @media (min-width: $md) {
      font-size: 14.0625rem;
      width: 405px;
    }
  }
}

.corMark {
  width: 38px;
  height: 38px;
  position: absolute;
  top: 12px;
  right: 40px;
  @media (min-width: $md) {
    width: 70px;
    height: 70px;
    top: 14px;
    right: -100px;
  }
  svg {
    display: block;
    path {
      fill: #fff;
    }
  }
}

.videoBackground {
  position: relative;
  width: 100%;
  height: 50vh;
  @media (min-width: $md) {
    height: 100vh;
  }
  video {
    width: 100%;
    min-height: 50vh;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @media (min-width: $md) {
      height: 100vh;
    }
  }
}

.cta {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $md) {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    left: auto;
    transform: none;
  }
}

.svgWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 50;

  height: 324px;

  fill: var(--font-inverted);

  transform: translate(-50%, -50%);
}

.fullWidth {
  &:before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.16);
  }

  .backgroundImage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
  }

  picture,
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    display: flex;
    align-items: center;

    color: var(--color-white-bright);
    text-align: center;

    h1 {
      margin: 0 auto;
      width: 55%;
      max-width: 100%;
    }
  }
}

.image {
  height: 100%;
  & > div {
    height: 100%;
  }
}

@media (max-width: $md) {
  .slide {
    flex-direction: column-reverse;

    &.active,
    &:first-of-type {
      display: flex;
    }

    .slideRight {
      padding-bottom: 0;
    }

    img {
      object-position: top;
    }
  }

  .svgWrap {
    height: 136.5px;
  }

  .fullWidth {
    .content h1 {
      width: 100%;
    }
  }
}

@media (max-width: 1023px) {
  .headline h1 {
    padding-left: 0;
  }
}
