
.slide {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &.active, &:first-of-type {
    display: flex;
  }

  .slideLeft {
    height: 100vh;
    width: 50%;
  }

  .slideRight {
    width: 50%;
  }

  .headline {
    padding: 0 2rem;
    max-width: 890px;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}