
.slide {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &.active, &:first-of-type {
    display: flex;
  }

  .slideLeft {
    height: 100vh;
    width: 50%;
    overflow: hidden;
  }

  .slideRight {
    width: 50%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .headline {
    padding: 0 2rem;
    max-width: 890px;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.buttons {
  position: absolute;
  top: 200px;
  left: 200px;
}

.score {
  font-size: 14.0625rem;
  line-height: 1;
  color: var(--font-inverted);
  font-family: var(--font-sans-headline);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  width: 405px;
  span {
    display: block;
  }
}

.corMark {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 14px;
  right: -100px;
  svg {
    display: block;
    path {
      fill: #fff;
    }
  }
}

.videoBackground {
  position: relative;
  width:100%;
  height: 100%;
  video {
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.cta {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  padding: 1rem 1.5rem;
  background-color: var(--color-teal-dark);
  color: var(--font-inverted);
  font-size: 1rem;
  line-height: 1;
  font-family: var(--font-sans-bold);
  border-radius:  50px 50px;
  transition: background-color 250ms ease-out;
  &:hover {
    background-color: darken(#034561, 10%);
  }
}