@import "../../styles/_variables.scss";

.section {
  max-width: 100%;
  padding: 4rem 0 3rem;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @media (min-width: $md) {
    padding: 10rem 0;
  }

  &.noPadding {
    padding: 0;
  }

  &.fullScreen {
    min-height: 100vh;
  }

  &.align-center {
    align-items: center;
  }
  &.align-top {
    align-items: flex-start;
  }
  &.align-bottom {
    align-items: flex-end;
  }
}

.backgroundTransparent {
  color: var(--text-color-primary);
  background-color: transparent;
}
.backgroundOffWhite {
  color: var(--text-color-primary);
  background-color: var(--gray-10);
}
.backgroundGray {
  color: var(--text-color-primary);
  background-color: var(--gray-30);
}
.backgroundTeal {
  color: var(--blue-primary);
  background-color: var(--blue-tint);
}
.backgroundDarkTeal {
  color: var(--blue-tint);
  background-color: var(--blue-primary);
}
.backgroundGreen {
  color: var(--text-color-primary);
  background-color: var(--green-primary);
}
.backgroundWhite {
  color: var(--text-color-primary);
  background-color: var(--gray-10-bright);
}

.backgroundblue {
  background-color: var(--blue-background);
  color: var(--blue-text);
}
.backgroundgreen {
  background-color: var(--green-background);
  color: var(--green-text);
}
.backgroundorange {
  background-color: var(--orange-background);
  color: var(--orange-text);
}
.backgroundcyan {
  background-color: var(--cyan-background);
  color: var(--cyan-text);
}
.backgroundtaupe {
  background-color: var(--taupe-background);
  color: var(--taupe-text);
}
.backgroundgray {
  background-color: var(--background);
  color: var(--text-color-primary);
}
