@import "../../../styles/_variables.scss";

.contentHolder {
  margin-top: 92px;

  p {
    color: var(--color-teal-dark);
  }
}

@media (max-width: $sm) {
  .contentHolder {
    margin-top: 30px;
  }
}