@import "../../../styles/variables";

.newsletterSection {
  padding: 92px 0;

  background-color: var(--color-sea-blue);

  .title {
    margin-bottom: 0;

    font-family: var(--font-sans-bold);
    font-size: 30px;
    line-height: 2.34;
  }

  .desc {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 1.5;
  } 
}

.newsletterForm {
  div:first-child {
    flex-direction: row;
  }

  input {
    font-family: var(--font-sans);
    font-size: 20px;

    &::placeholder {
      opacity: .5;
    }
  }

  button {
    margin: 0 0 0 24px;
  }
}
