@import "../../../styles/variables";
.newsletter {
  background-color: var(--cyan-primary);
  max-width: 100%;
  padding: 4rem 0 3rem;

  @media (min-width: $md) {
    padding: 4rem 0 3rem;
  }

  h3 {
    font-size: 1.875rem;
    margin: 0;
    font-family: var(--font-sans);
  }
  p {
    font-size: 0.95rem;
  }
}
