@import "../../../styles/_variables.scss";

.dataProgress {
  background: linear-gradient(
    180deg,
    var(--gray-10) 14%,
    var(--orange-tint) 14%
  );
  @media (min-width: $md) {
    background: linear-gradient(
      180deg,
      var(--gray-10) 37%,
      var(--orange-tint) 37%
    );
  }
}

.headline {
  margin-top: 5rem;
}

.content {
  @media (min-width: $md) {
    padding-right: 21.42857142%;
  }
}

.image {
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 4rem;
}

.screenshot {
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--shadow-soft);
  width: 70%;
  margin: 4rem auto;
  @media (min-width: $md) {
    margin: 0;
    width: 70%;
    transform: translate(-70%, 20%);
  }
}

.tag {
  color: var(--gray-50);
  font-size: 1rem;
}
