@import "../../../styles/variables";

.section {
  width: 100%;
  padding-top: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  @media (min-width: $md) {
    width: 100%;
    padding-top: 56.25%;
  }
}

.toggle {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 15;
}

.content {
  text-align: center;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: var(--gray-10-bright);
}

.backgroundImage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;

  picture,
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
