@import "./_variables.scss";

.hero {
  h1 {
    font-family: var(--font-sans-bold);
    font-size: 20px;
    color: var(--color-suva-grey);
    line-height: 2.34;
  }

  h2 {
    margin-right: auto;
    width: 836px;
    max-width: 100%;

    font-size: 89px;
    line-height: 1.12;
  }
  
  img {
    margin-top: 50px;
    margin-bottom: 80px;
  }

  p {
    padding-top: 100px;
    margin-right: auto;
    width: 836px;
    max-width: 100%;
  }
}

.textImageWrap {
  padding-top: 0;

  h3 {
    margin-bottom: 46px;

    font-size: 60px;
    line-height: 1.3;
    letter-spacing: -1.8px;
  }
}

.sectionWrap {
  background-color: var(--font-inverted);
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .hero {
    h2 {
      font-size: 61px;
    }
  }

  .textImageWrap {
    h3 {
      font-size: 32px;
    }
  }
}

@media (max-width: $sm) {
  .hero {
    h2 {
      font-size: 39px;
    }
  }

  .textImageWrap {
    h3 {
      margin-top: 27px;    
      margin-bottom: 13px;

      font-size: 39px;
    }
  }
}