@import "./variables";

.container {
  min-height: 100vh;
  padding: 4rem 0 3rem;

  @media (min-width: $md) {
    padding: 10rem 0;
  }
}

.theme-default {
  background-color: var(--background);
  color: var(--text-color-primary);
}
.theme-taupe {
  background-color: var(--taupe-background);
  color: var(--taupe-text);
}
.theme-blue {
  background-color: var(--blue-background);
  color: var(--blue-text);
}
.theme-green {
  background-color: var(--green-background);
  color: var(--green-text);
}
.theme-orange {
  background-color: var(--orange-background);
  color: var(--orange-text);
}
.theme-cyan {
  background-color: var(--cyan-background);
  color: var(--cyan-text);
}
