@import "./variables";

.blog {
  max-width: 100%;
  padding: 4rem 0 3rem;
  @media (min-width: $md) {
    padding: 4rem 0;
  }
}

.blogPosts {
  margin-top: 3rem;
  min-height: 50vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5em;
  @media (min-width: $sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.categories {
  margin: 2.5rem 0 1rem;
  padding-top: 1rem;
  border-top: 1px solid #000;
  display: flex;
  justify-content: flex-end;
}

.button {
  display: flex;
  align-items: center;
  padding: 0.8rem 3rem;
  background-color: var(--text-color-primary);
  color: var(--text-color-secondary);
  font-size: 0.9rem;
  line-height: 1.5;
  font-family: var(--font-sans-bold);
  border-radius: 50px 50px;
  transition: background-color 250ms ease-out;
  margin-left: 1rem;
  &:hover {
    background-color: darken(#034561, 10%);
  }
  span {
    display: block;
  }
  &.colorGray {
    background-color: var(--gray-30);
    color: var(--text-color);
  }
}
.removeFilter {
  width: 19px;
  height: 19px;
  padding: 0.25rem;
  border-radius: 100%;
  transform: translate(0.5rem, 1px);
}
.iconClose {
  display: block;
  path {
    fill: var(--black);
  }
}
