@import "../../../styles/variables.scss";

.textBackgroundImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17rem 0;

  h2 {
    font-size: 60px;
    line-height: 1.3;
    letter-spacing: -1.8px;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: normal;
  }
}

.imageWrap {
  position: absolute;
  right: 0;

  height: 840px;
  width: 80%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}

@media (max-width: $xl) {
  .textBackgroundImage {
    padding: 10rem 0;

    h2 {
      font-size: 39px;
    }
  }

  .imageWrap {
    width: 54%;
    height: 494px;
  }
}

@media (max-width: 1023px) {
  .textBackgroundImage {
    padding-bottom: 0;
  }

  .imageWrap {
    position: relative;

    width: 100%;
    height: 827px;
  }
}

@media (max-width: $sm) {
  .textBackgroundImage {
    padding-top: 70px;

    h2 {
      font-size: 34px;
    }

    p {
      font-size: 16px;
    }
  }

  .imageWrap {
    height: 599px;
  }
}

@media (max-width: $xs) {
  .imageWrap {
    height: 389px;
  }
}