@import "../../styles/_variables.scss";

.menu {
  // width: 100%;
  // height: 100vh;
  // z-index: 1001;
  // position: fixed;
  // top: 0;
  // left: 0;
  // padding: 0 1rem;
  // color: var(--font-inverted);
  // font-family: var(--font-sans-headline);
  // font-size: 2rem;
  // background-color: var(--color-green);

  ul {
    list-style-type: none;
    margin: 0;
  }

  p {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  a {
    cursor: pointer;
    font-size: 2rem;
    line-height: 2.5rem;

    &:link,
    &:visited {
      text-decoration: none;
    }

    &.active {
      color: rgba(0,0,0,0.45);
    }
  }

  .linkClose {
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-decoration: none;
    transform: scale(1);
    transition: transform 0.15s cubic-bezier(0.34, 1.56, 0.64, 1);

    &:active {
      transform: scale(0.90);
    }
  }

  @media (min-width: $xl) {
    
    // width: 40%;
    // padding: 0 2rem 2rem;
    transform: none !important;

    ul {
      display: flex;
      padding-left: 0;
    }

    li {
      opacity: 1 !important;
      transform: none !important;
    }
  }

  @media (max-width: $lg) {
    width: 100%;
    height: 100vh;
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1rem;
    color: var(--font-inverted);
    font-family: var(--font-sans-headline);
    font-size: 2rem;
    background-color: var(--color-light-green);

    ul {
      padding: 6rem 21px 0;
    }

    li {
      margin: 1rem 0;
    }
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(15px);
}

.iconMark {
  fill: #fff;
  display: block;
  width: auto;
  height: 20px;
  transform: translateY(-1px);
}

.iconClose {
  fill: #fff;
  display: block;
  width: auto;
  height: 18px;
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.20);
  opacity: 0;
  z-index: 1000;
  visibility: hidden;
  transition: all 450ms ease-out;

  &.menu--active {
    opacity: 1;
    
    visibility: visible;
  }
}